// this for resize icon
// 16, 24, 32, 64

.feather-16 {
    width: 16px;
    height: 16px;
}

.feather-24 {
    width: 24px;
    height: 24px;
}

.feather-32 {
    width: 32px;
    height: 32px;
}

.feather-64 {
    width: 64px;
    height: 64px;
}

.feather-128 {
    width: 128px;
    height: 128px;
}